*{
    margin:0;
    padding: 0;;
}
body
{
    background-image: url('../pic/login_page_pic_bq.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.side_bar
{
    background-color: rgb(0, 0, 0,0.3);
    width: 20vw;
    height: 100vh;
}
.dashboard_name h2, .pannel-hide h2, .nav_bar h2{
    color: white;
    text-align: center;
}
.nav_bar h2{
    margin-top: 1vh;
}
.dashboard_name
{
    border-bottom: 2px solid white;
    padding: 10px;
    width: 10vw;
    margin-left: 4vw;
}
.admin-pannel-name
{
    border-bottom: 2px solid white;
    width: 10vw;
    margin-left: 33vw;
    padding: 5px;
}
.dashboard_side_bar, .doctor_side_bar, .patienr_side_bar, .appointment_side_bar, .profile_side_bar
{
    padding: 23px;
    margin-left: 3vw;
}
.dashboard_side_bar a, .doctor_side_bar a, .patienr_side_bar a, .appointment_side_bar a, .profile_side_bar a{
    text-decoration: none;
    font-size: 22px;
    color: white;
    margin-left: 1vw;
}
.dashboard_side_bar a:hover, .doctor_side_bar a:hover, .patienr_side_bar a:hover, .appointment_side_bar a:hover, .profile_side_bar a:hover{
    color: blue;
}
i{
    color: blue;
}
.first_container
{
    display: flex;
}

.nav_bar{
    background-color: rgb(0, 0, 0,0.7);
    height: 8vh; 
    width: 80vw; 
}
.nav_bar h2{
    color: white;
}
.logout_bar a
{
    color: white;
    position: relative;
    float: inline-end;
    text-decoration: none;
    margin-top: -3vh
}
.logout_bar a:hover
{
    color: blue;
}
.pannels
{
    box-shadow: 1px 1px 19px 2px blue;
    margin-top: 11vh;
    margin-left: 2vw;
    height: 73vh;
    width: 75vw;
    background-color: rgb(0, 0, 0,0.3);
}
.pannel-hide
{
    display: none;
}
.admin-penel-content
{
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    
}
.admin-penel-content div
{
    border-left: 7px solid blue;
    border-radius: 8px 0 0 8px;
    margin: 10px;
    height: 24vh;
    width: 12vw;
    background-color: white;
}
.admin-penel-content div label
{
    font-size: 20px;
}
.admin-penel-content div span label
{
    margin-left: 1vw;
    font-size: 30px;
    color:blue;
}
.admin-boxes
{
    position: relative;
    top:8vh;
}
.admin-page-icon
{
    font-size: 25px;
    position: relative;
    float: right;
    top: 50px;
    right: 10px;
}
table 
{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
th, td 
{
    text-align: left;
    padding: 8px;
}
tr:nth-child(even)
 {
   background-color: #f2f2f2
}
.Doctor
{
    margin-top: 4vh;
    margin-left: 3.5vw;
    width: 90%;
    overflow-y: scroll;
}
tr a{
    background-color:rgb(142, 142, 233);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 15px;
    text-decoration: none;
}
tr a:hover
{
    background-color:blue;
}
.two-panel
{
    display: flex;
    justify-content: center;
}
.part-2{
    margin-left: 10%;
}
.Doctor-profile-pannel
{
    margin-top: 50px;
}
.User-profile-pannel
{
    margin-top: 2vh;
    margin-left: 25vw;
}
.User-profile-pannel input[type="text"],
.Doctor-profile-pannel input[type="text"]
{
    height: 30px;
    width: 20vw;
    margin-left: 80px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color:white;
}
.User-profile-pannel label,.User-Appointment-pannel label,
.Doctor-profile-pannel label
{
    color: white;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
}
#select_specialization,
#selected-doctor,
#time-slot
{
    height: 30px;
    width: 70%;
    margin-left: 70px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    color:black;
}
.User-Appointment-pannel
{
    margin-left: 10vw;
}
.load-doctor
{
    width: 30%;
    height: 35px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-left: 27%;
    background-color: rgb(120, 120, 207);
    font-size: 20px;
    color: #fff;
}
.save-form
{
    width: 30%;
    height: 45px;
    margin-bottom: 10px;
    border-radius: 20px;
    margin-left: 30%;
    background-color: rgb(120, 120, 207);
    font-size: 20px;
    color: #fff;
    padding: 7px;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.save-form:hover
{
    background-color: blue;
}